/*flexbox code start*/
.rev-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
}

.rev-container-song {
    display: flex;
}

.rev-item-5 {
    flex-grow: 1;
    width: 7%;
}

.rev-item-10 {
    flex-grow: 1;
    width: 12%;
}

.rev-item-30 {
    flex-grow: 1;
    width: 32%;
}

.rev-item-50 {
    flex-grow: 1;
    width: 52%;
}

.rev-item-100 {
    flex-grow: 1;
    width: 100%;
}
/*flexbox code end*/

article span:hover {
    color:green;
}