/*flexbox code start*/
.rev-container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
}

.rev-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.rev-container-song {
    display: flex;
}

.rev-item-5 {
    flex-grow: 1;
    width: 7%;
}

.rev-item-10 {
    flex-grow: 1;
    width: 12%;
}

.rev-item-30 {
    flex-grow: 1;
    width: 28%;
}

.rev-item-40 {
    flex-grow: 1;
    width: 38%;
}

.rev-item-50 {
    flex-grow: 1;
    width: 52%;
}

.rev-item-70 {
    flex-grow: 1;
    width: 60%;
}

.rev-item-100 {
    flex-grow: 1;
    width: 100%;
}
/*flexbox code end*/

.rev-plus:hover {
    color:darkgreen;
}

.rev-minus:hover {
    color: red;
}

.rev-basic-container {
    display: flex;
    width: 100%;
}

.rev-bottom {
    position: absolute;
    bottom: 0;
}

.rev-bottom-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}